<% include ./partials/header %>

	<a href="/games/new" class="btn btn-danger">New Game</a>

	<h3>Game Complete! Review Your Answers Below</h3>

<div class="d-inline-flex flex-row flex-wrap">
		<% games.forEach(function(game){ %>
			<div id="views" class="col-md-3">
				<div class="thumbnail">
					<h4>FINAL SCORE: <%= game.score %>/12</h4>
					<h4>Fruit or Vegetable: <%= game.fruit %></h4>
					<h4>Movie Title: <%= game.movie %></h4>
					<h4>City: <%= game.city %></h4>
					<h4>Colour: <%= game.colour %></h4>
					<h4>Restaurant: <%= game.restaurant %></h4>
					<h4>App: <%= game.app %></h4>
					<h4>Harry Potter Reference: <%= game.harry %></h4>
					<h4>Brand of Alcohol: <%= game.alcohol %></h4>
					<h4>Book Title: <%= game.book %></h4>
					<h4>Article of Clothing: <%= game.clothing %></h4>
					<h4>Something you'd find at the beach: <%= game.beach %></h4>
					<h4>Name that has more than 5 letters: <%= game.name %></h4>
				</div>
			</div>
		<% }); %>
</div>


<% include ./partials/footer %>